.radio-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: .5rem;
  border: 2px solid transparent;
  outline: 1px solid var(--input-stroke);
  gap: 0.25rem;
  padding: 0.25rem;
  width: 17rem;
  height: 3rem;
  ;
}

.radio-inner {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.25rem;

  svg {
    height: 1rem;
    width: 1rem;
  }

  & input {
    all: unset;
    position: absolute;
    inset: 0;
  }

  .radio-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 8.0625rem;
    height: 2.5rem;
    padding: 0;
    margin: 0;
    border-radius: 0.32rem;
  }

  &:has(:checked) {
    path {
      fill: var(--brand-light);
    }

    & .radio-image {
      background-image: url(../../assets/icons/shape.svg);
      background-size: cover;
      opacity: 0.5;
      border-radius: 0.32rem;
    }
  }
}

.radio-color-inner {
  position: relative;

  & input,
  & input:hover,
  & input:focus {
    all: unset;
    position: absolute;
    inset: 0;
  }


  &:has(:checked) {
    svg {
      border: 2px solid var(--brand-light);
      border-radius: 50%;
      display: inline-block;
    }
  }

  &:hover {
    svg rect:nth-child(1) {
      fill: var(--shape-over);
    }
  }
}



.radio-theme-inner {
  position: relative;

  & input,
  & input:hover,
  & input:focus {
    all: unset;
    position: absolute;
    inset: 0;
  }

  &:has(:checked) {
    svg rect:nth-child(2) {
      stroke: var(--brand-light);
      stroke-width: 0.125rem;
    }
  }

  &:hover {
    svg rect:nth-child(1) {
      fill: var(--shape-over);
    }
  }
}